 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      scroll-behavior: smooth;
    }

    /* Navbar styles */
    nav {
      background: linear-gradient(90deg, #0ea5e9, #22c55e);
      box-shadow: 0 2px 6px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem 2rem;
    }

    .navbar-container a {
      color: white;
      text-decoration: none;
      padding: 1.4rem 1.6rem;
      font-size: 2rem;
    }

    .navbar-container a:hover {
      background-color: seagreen;
    }

    .nav-menu {
      display: flex;
      align-items: center;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color:seagreen;
      min-width: 16rem;
      top: 4.4rem;
      z-index: 1000;
    }

    .dropdown-content a {
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .menu-toggle {
      display: none;
      font-size: 2.6rem;
      color: white;
      cursor: pointer;
    }
    .logo-p{
      display: inline-block;
      font-size: 18px;
      letter-spacing: 3px;
      font-weight: bold;
      background: linear-gradient(90deg, #dde8ec, #d5df49);
      background-clip:text;
     -webkit-text-fill-color: transparent;
    }

    /* Responsive */
    @media (max-width: 768px) {
      .menu-toggle {
        display: block;
      }

      .nav-menu {
        flex-direction: column;
        position: absolute;
        display: none;
        width: 100%;
        background: linear-gradient(90deg, #0ea5e9, #22c55e);
        top: 69px;
        left: 0;
        text-align: center;
      }

      .nav-menu.show {
        display: flex;
      }
      .navbar-container a{
        padding: 0;
      }

      .dropdown-content {
        position: static;
      }
      .bus-logo{
        height: 3rem;
      }
      .logo{
        margin-left: 0;
      }
      .logo-p{
        font-size: .9rem;
        padding: .7rem;
      }
      /* footer section */
      .footer-icon{
        font-size: 1.5rem;
      }
    }

    /* Content styling */
    section {
      /* padding: 100px 20px; */
      /* margin-top: 60px; */
      background-color: #f4f4f4;
      border-bottom: 1px solid #ddd;
    }

    h2 {
      margin-bottom: 1rem;
    }

.drop_pic-section{
   padding: 10rem 2rem;
  margin-top: 6rem;
}



